<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4GfnwXEzd_e_qeaCOegxVANa7YALHfG4</string>
	<key>GCM_SENDER_ID</key>
	<string>971040513049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.keepNotes</string>
	<key>PROJECT_ID</key>
	<string>keep-notes-1ea9a</string>
	<key>STORAGE_BUCKET</key>
	<string>keep-notes-1ea9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971040513049:ios:93dc9426d93d31605f5e88</string>
</dict>
</plist>